@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 45 56% 89%;
    --foreground: 27 10% 20%;
    --card: 45 50% 92%;
    --card-foreground: 27 10% 20%;
    --popover: 45 50% 92%;
    --popover-foreground: 27 10% 20%;
    --primary: 27 80% 41%;
    --primary-foreground: 30 100% 98%;
    --secondary: 45 40% 85%;
    --secondary-foreground: 27 10% 20%;
    --muted: 45 40% 85%;
    --muted-foreground: 27 10% 40%;
    --accent: 83 39% 44%;
    --accent-foreground: 30 100% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 45 30% 75%;
    --input: 45 30% 75%;
    --ring: 27 80% 41%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 27 80% 51%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 83 39% 34%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 27 80% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
